@font-face {
  font-family: "mont-bold";
  src: url(/Font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(/Font/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(/Font/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(/Font/poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-light";
  src: url(/Font/poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(/Font/poppins/Poppins-Bold.ttf);
}

* {
  font-family: "poppins-medium";
  margin: 0;
  padding: 0;
  transition: all 1s;
}

.Discover-home-page-img {
  width: 100%;
  height: 37rem;
}

.colorPrimary {
  color: #b88e2f;
}

.blackColor {
  color: #333333;
}

.Discover-home-page-text {
  position: absolute;
  right: 3rem;
  bottom: 6.5rem;
  background-color: #fff3e3;
  width: 32rem;
  height: 20rem;
  padding-left: 2rem;
  padding-top: 3rem;
}

.Discover-home-page {
  position: relative;
}

.margin-top1 {
  margin-top: 0.5rem;
}

.backPrimary {
  background-color: #b88e2f;
  color: #ffffff;
}

.buttonHome {
  width: 12rem;
  height: 4rem;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
}

.Browse-The-Range-page {
  height: 42rem;
  text-align: center;
  padding-top: 3rem;
}

.title-Browse-The-Range-page {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.title-Browse-The-Range-page span {
  font-size: 1rem;
  font-weight: normal;
  color: #666666;
}

.gap-2 {
  gap: 1rem;
}

.aling-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.margin-top3rem {
  margin-top: 3rem;
}

.Browse-3row h3 {
  margin-top: 1rem;
  color: #333333;
  font-weight: 600;
}

.Inner-Page {
  width: 92.74vw;
  height: 40rem;
  background-color: #fcf8f3;
  padding-left: 6rem;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.Inner-Page-text {
  width: 27rem;
  padding-left: 3rem;
}

.Inner-Page-text h1 {
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}
.Inner-Page-text p {
  color: #616161;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
  width: 23rem;
}

.buttontwo {
  width: 10rem;
  height: 3rem;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
}

.Inner-page-img1 {
  position: relative;
  top: -0.2rem;
}

.textabsolute {
  display: flex;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.lineDiv {
  background-color: #616161;
  height: 1px;
  width: 1.5rem;
  margin: 0 7px 0 7px;
}

.colorGray2 {
  color: #616161;
  font-size: 0.9rem;
}

.spanInner {
  color: #3a3a3a;
  font-size: 1.5rem;
}

.background-color1 {
  background-color: #ffffffb8;
  width: 13rem;
  height: 7rem;
}

.displayFlex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottonTextabsolute {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  background-color: #b88e2f;
  cursor: pointer;
}

.Inner-page-img2 {
  margin-left: 2rem;
}
.Inner-page-img2 img {
  margin-bottom: 2rem;
}

.widthCustomImg {
  width: 9rem;
}

.Inner-page-img3 {
  position: relative;
}
.Inner-page-img3 img {
  width: 7.5rem;
  height: 30.4rem;
  margin-bottom: 6.4rem;
  margin-left: -7.5rem;
}

.products-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2rem;
}

.ticles-containerar {
  padding: 0 0 0 7.7rem !important;
}

.our-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: -1rem;
}

.show-more-shop {
  background-color: white;
  width: 15rem;
  height: 3rem;
  border: 2px solid #b88e2f;
  font-size: 1rem;
  color: #b88e2f;
  cursor: pointer;
}
.show-more-a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: default;
}

.vector-radius {
  position: absolute;
  left: -2.5rem;
  top: 17rem;
}
.vector-radius img {
  position: absolute;
  background-color: white;
  width: 2.2rem;
  height: 2.2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.Share-your-setup-with {
  height: 55rem;
  padding-top: 3rem;
}

.Share-your-setup-with-text {
  text-align: center;
}
.Share-your-setup-with-text h3 {
  color: #616161;
}
.Share-your-setup-with-text h1 {
  color: #3a3a3a;
}

.Share-your-setup-with-pictures {
  margin-top: 2rem;
  height: 46rem;
  width: 100%;
  display: flex;
}

.positionRelative {
  position: relative;
}

.axes {
  margin-bottom: 0.5rem;
}
.axes2 {
  margin-right: 0.8rem;
}
.axes3 {
  margin-right: 1.2rem;
  margin-left: -17.15rem;
}
.golgol {
  position: absolute;
  top: 0;
  width: 23rem;
}

.share {
  display: flex;
  flex-direction: column;
}

.flexcolumn {
  flex-direction: column;
}

.share-your2 {
  margin-left: 1rem;
}
.share-your2 img {
  width: 20rem;
  height: 27rem;
}

.withwidth {
  width: 31.1rem;
}

.margin-left1rem {
  margin-left: 1rem;
}
.marginRight1rem {
  margin-right: 0.8rem;
}
.margin-top1rem {
  margin-top: 0.5rem;
}

.widthCustomImg2 {
  width: 18.58rem;
}

.toptoptop {
  margin-bottom: 1.4rem;
  width: 18rem;
}

.boxShodow2 {
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 10px;
}
