@font-face {
  font-family: "mont-bold";
  src: url(/Font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(/Font/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(/Font/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(/Font/poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-light";
  src: url(/Font/poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(/Font/poppins/Poppins-Bold.ttf);
}

* {
  font-family: "poppins-medium";
  margin: 0;
  padding: 0;
  transition: all 1s;
}

.Discover-home-page-img {
  width: 100%;
  height: 37rem;
}

.colorPrimary {
  color: #b88e2f;
}

.blackColor {
  color: #333333;
}

.Discover-home-page-text {
  position: absolute;
  right: 3rem;
  bottom: 6.5rem;
  background-color: #fff3e3;
  width: 32rem;
  height: 20rem;
  padding-left: 2rem;
  padding-top: 3rem;
}

.Discover-home-page {
  position: relative;
}

.margin-top1 {
  margin-top: 0.5rem;
}

.backPrimary {
  background-color: #b88e2f;
  color: #ffffff;
}

.buttonHome {
  width: 12rem;
  height: 4rem;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
}

.Browse-The-Range-page {
  height: 42rem;
  text-align: center;
  padding-top: 3rem;
}

.title-Browse-The-Range-page {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.title-Browse-The-Range-page span {
  font-size: 1rem;
  font-weight: normal;
  color: #666666;
}

.gap-2 {
  gap: 1rem;
}

.aling-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.margin-top3rem {
  margin-top: 3rem;
}

.Browse-3row h3 {
  margin-top: 1rem;
  color: #333333;
  font-weight: 600;
}

.Inner-Page {
  width: 92.74vw;
  height: 40rem;
  background-color: #fcf8f3;
  padding-left: 6rem;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.Inner-Page-text {
  width: 27rem;
  padding-left: 3rem;
}

.Inner-Page-text h1 {
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}
.Inner-Page-text p {
  color: #616161;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
  width: 23rem;
}

.buttontwo {
  width: 10rem;
  height: 3rem;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
}

.Inner-page-img1 {
  position: relative;
}

.textabsolute {
  display: flex;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.lineDiv {
  background-color: #616161;
  height: 1px;
  width: 1.5rem;
  margin: 0 7px 0 7px;
}

.colorGray2 {
  color: #616161;
  font-size: 0.9rem;
}

.spanInner {
  color: #3a3a3a;
  font-size: 1.5rem;
}

.background-color1 {
  background-color: #ffffffb8;
  width: 13rem;
  height: 7rem;
}

.displayFlex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottonTextabsolute {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  background-color: #b88e2f;
  cursor: pointer;
}

.Inner-page-img2 {
  margin-left: 2rem;
}
.Inner-page-img2 img {
  margin-bottom: 2rem;
}

.widthCustomImg {
  width: 7rem;
}

.Inner-page-img3 img {
  width: 6rem;
  height: 30.4rem;
  margin-bottom: 6rem;
  margin-left: -5.1rem;
}

.products-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2rem;
}

.ticles-containerar {
  padding: 0 0 0 7.7rem !important;
}

.our-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: -1rem;
}

.show-more-shop {
  background-color: white;
  width: 15rem;
  height: 3rem;
  border: 2px solid #B88E2F;
  font-size: 1rem;
  color: #B88E2F;
}
.show-more-a{
  text-align: center;
}
