@font-face {
  font-family: "mont-bold";
  src: url(/Font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(/Font/poppins/Poppins-Medium.ttf);
}
* {
  font-family: "mont-bold";
  margin: 0;
  padding: 0;
  transition: all 1s;
}

.inlineBlock {
  display: inline-block;
}

.displayFlex {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6rem;
}

.ulHeader {
  list-style: none;
  margin-left: 2rem;
  gap: 4rem;
}

.fontpaping li {
  font-family: "poppins-medium" !important;
}

.fontSize2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 0.5rem;
}

.iconHeader {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 2rem;
}
.iconHeader img {
  height: 1.5rem;
}
.iconSize {
  height: 1.3rem !important;
}

.header-logo {
  margin-left: -4rem;
}
.header-logo img {
  height: 1.8rem;
}
