.ticles-containerar {
  display: flex;
  padding: 0 6rem;
  gap: 2.5rem;
}

article{
  background-color: rgb(245, 245, 245);
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.product-card .img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.product-name,
.product-note,
.product-price {
  margin: 0.5rem 0;
}

.price-oldprice {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0 1rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  padding: 0 1rem;
}

.img-wrapper {
  margin-bottom: 0.5rem;
}

.product-card h2,
.product-price {
  font-family: "poppins-semibold";
  color: rgb(108, 108, 108);
}

.product-price {
  font-weight: bold;
}

.product-explain,
.old-price {
  color: rgb(182, 182, 182);
}

.percent-off {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #ff383b6d;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.percent {
  font-family: "poppins-medium";
}

.new {
  background-color: #2ec1ac;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  z-index: 2;
}

.img-wrapper:hover img {
  transform: scale(1.05);
}

.product-card:hover .overlay {
  opacity: 1;
}

.add-to-cart {
  padding: 1.2rem 4rem;
  background: white;
  border: none;
  cursor: pointer;
  color: #b88e2f;
  font-family: "poppins-semibold";
  font-size: 1.2rem;
}

.add-to-cart:hover {
  background-color: #b88e2f;
  color: white;
  border-radius: 1rem;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.icons img {
  margin-right: 0.2rem;
}

.icons span {
  color: white;
  font-family: "poppins-semibold";
  font-style: normal;
  font-size: 1.1rem;
}

article a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}