@font-face {
  font-family: "mont-bold";
  src: url(/Font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(/Font/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(/Font/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(/Font/poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-light";
  src: url(/Font/poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(/Font/poppins/Poppins-Bold.ttf);
}

* {
  font-family: "poppins-medium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
a {
  cursor: pointer;
}

.marginRight1 {
  margin-right: 3.5rem;
  width: 3.5rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.banner {
  background-image: url(/img/banner-shop-background.png); /* مسیر تصویر پس‌زمینه */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8rem;
}

.title {
  font-size: 2.9rem;
  margin-bottom: 0.5rem;
  font-family: "poppins-medium";
}

.links {
  display: flex;
  gap: 0.8rem;
  font-family: "poppins-medium";
}

.links a {
  text-decoration: none;
}

.home--link {
  color: black;
}

.home--link img {
  width: 11%;
}

.shop--link {
  color: gray;
}

.go-to-shop {
  margin-left: 7rem;
  height: 25rem;
  display: flex;
}

.go-to-shop-text {
  width: 24%;
  margin-top: 3rem;
}
.go-to-shop-text h2 {
  line-height: 2.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.go-to-shop-text a {
  text-decoration: none;
  color: #727272;
  font-size: 1.3rem;
  border-bottom: 2px solid #727272;
  padding-bottom: 2px;
}

.go-to-shop-picture1 {
  width: 23%;
  margin-top: 1.5rem;
  margin-left: -1rem;
}
.go-to-shop-picture1 img {
  width: 100%;
  border-radius: 15px;
}

.go-to-shop-picture2 {
  width: 23%;
  margin-top: 1.5rem;
  margin-left: 3rem;
}
.go-to-shop-picture2 img {
  border-radius: 15px;
  width: 100%;
}

.padding1 {
  padding-top: 2.655rem;
}

.background-color1 {
  background-color: #f9f1e7;
}

.go-to-shop-button {
  width: 23%;
  margin-top: 4.5rem;
  margin-left: 4rem;
}
.go-to-shop-button h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.select-shop {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  font-size: 1rem;
  background-color: #b88e2f;
  margin-top: 0.5rem;
  width: 15rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.select-shop:focus {
  outline: none;
}

.select-icon {
  position: relative;
  right: 2.5rem;
  width: 1.1rem;
  cursor: pointer;
}

.text-size1 h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
.text-size1 h3 {
  margin-top: 0.2rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.shodow1 {
  box-shadow: 0px 0px 1px 0px black;
}

.star-rating {
  display: flex;
  width: 6rem;
}
.star-rating p {
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  margin-right: 0.5rem;
}

.Review {
  color: #9f9f9f;
  margin-left: 2.4rem;
  font-size: 0.8rem;
  font-weight: 100;
  border-left: 2px solid #9f9f9f;
  padding-left: 0.5rem;
}

.jus-ali-center {
  align-items: center;
}

.margin-top3 {
  margin-top: 0.3rem;
}

.div-list {
  display: flex;
  justify-content: center;
  width: 20rem;
  border-right: 1px solid #e8e8e8;
}
.div-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.div-list li {
  font-weight: 100 !important;
}

.div-list-container {
  height: 130rem;
  display: flex;
  margin: 0 3rem 0 3rem;
  border-top: 1px solid #e8e8e8;
}

.margin-top2-1 {
  margin-top: 2rem;
}
.margin-top2-2 {
  margin-top: 5.4rem;
}
.margin-top2-3 {
  margin-top: 4.8rem;
}
.margin-bottom1-1 {
  margin-bottom: 0.72rem;
}

.margin-top-ulSpace1 {
  margin-top: 3rem;
}
.margin-top-ulSpace2 {
  margin-top: 7.25rem;
}
.margin-top-ulSpace2-1 {
  margin-top: 7.6rem;
}
.margin-top-ulSpace2-2 {
  margin-top: 7.2rem;
}

.margin-top-ulSpace3 {
  margin-top: 7.05rem;
}
.margin-top-ulSpace3-1 {
  margin-top: 7.6rem;
}
.margin-top-ulSpace3-2 {
  margin-top: 7.2rem;
}

.font-size1 {
  font-size: 1.5rem;
}

.dis-block {
  display: flex;
}

.margin-customers1 {
  margin-top: 1.35rem;
}

.margin-top-custom1 {
  margin-top: 1.55rem;
}
.margin-top-custom2 {
  margin-top: 2rem;
}
