* {
  margin: 0;
  padding: 0;
  transition: all 1s;
}
@font-face {
  font-family: "mont-bold";
  src: url(/Font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(/Font/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(/Font/poppins/Poppins-Regular.ttf);
}
.banner {
  background-image: url(/img/banner-shop-background.png); /* مسیر تصویر پس‌زمینه */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8rem;
}
.title {
  font-size: 2.9rem;
  margin-bottom: 0.5rem;
  font-family: "poppins-medium";
}

 .title:hover{
  opacity: 0;
}

.links {
  display: flex;
  gap: 0.8rem;
  font-family: "poppins-medium";
}

.links a {
  text-decoration: none;
}

.home--link {
  color: black;
}

.home--link img {
  width: 11%;
}

.shop--link {
  color: gray;
}

.filter-bar {
  display: flex;
  align-items: center;
  padding: 1.5rem 6rem;
  background-color: #f9f1e7;
  gap: 0.75rem;
  line-height: 0.5rem;
}

.filter-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: "poppins-regular";
  font-size: 1.5rem;
}

.left-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-icons .icon {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.separator {
  width: 1px;
  height: 2.5rem;
  background-color: #ccc;
  margin: 0 0.5rem;
}

.info-text {
  font-family: "poppins-regular";
}

.right-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto; /* برای قرارگیری در انتهای نوار */
      justify-content: flex-end;
      
}

.right-group .label1,
.right-group .label2 {
  font-family: "poppins-regular";
  font-size: 1.4rem;
  color: #555;
}

.input1 {
  width: 35%;
  height: 2.5rem;
}

.input2 {
  width: 60%;
  height: 2.5rem;
}

.right-group input {
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input-container1,
.input-container2 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-container1{
  width: 22%;
}
.input-container2{
  margin-right: 4rem;
}

.placeholder1 {
  font-size: 1.5rem;
  pointer-events: none;
  position: absolute;
  left: 5.75rem;
  bottom: 1.4rem;
  font-family: "poppins-regular";
  color: gray;
}

.placeholder2{
  font-size: 1.5rem;
  position: absolute;
  left: 8rem;
  font-family: "poppins-regular";
  color: gray;
}

.links a:hover {
}

.ticles-containerar{
  display: flex;
  padding: 0 6rem;
  gap: 2.5rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-card .img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.product-name,
.product-note,
.product-price {
  margin: 0.5rem 0;
}

article a{
  text-decoration: none;
  color: black;
}

