@font-face {
  font-family: "mont-bold";
  src: url(/Font/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "poppins-medium";
  src: url(/Font/poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "poppins-regular";
  src: url(/Font/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-semibold";
  src: url(/Font/poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppins-light";
  src: url(/Font/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(/Font/poppins/Poppins-Bold.ttf);
}

section {
  border-bottom: 1px solid #d9d9d9;
}

.filter-bar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 2rem 6rem;
  background-color: #f9f1e7;
  gap: 0.75rem;
  line-height: 0.5rem;
  border: none;
}

.links {
  display: flex;
  gap: 0.8rem;
  font-family: "poppins-medium";
}

.links a {
  text-decoration: none;
  font-family: "poppins-regular";
  display: flex;
  align-items: center;
}

.separator {
  width: 2px;
  height: 2.5rem;
  background-color: #7d7d7d;
  margin: 0 0.5rem;
}

.shop--link,
.home--link {
  color: gray;
}

.products-name span {
  font-family: "poppins-regular";
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1.5rem 0 3rem 6rem;
  gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.largePicture img {
  width: auto;
  height: 515px;
}

.content {
  width: 33%;
  padding-left: 6rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title h2 {
  font-size: 2rem;
  font-weight: normal;
  font-family: "poppins-regular";
}

.title span {
  font-family: "poppins-medium";
  color: gray;
}

.rate {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.rate span {
  font-family: "poppins-regular";
  color: gray;
}

.paragraph p {
  font-family: "poppins-regular";
}

.size,
.color {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.size button {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f9f1e7;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: "poppins-regular";
}

.color button {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  font-family: "poppins-regular";
}

.what-color {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.purple {
  background-color: #816dfa;
}

.black {
  background-color: black;
}

.gold {
  background-color: #b88e2f;
}

.color span,
.size span {
  font-family: "poppins-regular";
  color: gray;
}

.what-size,
.what-size {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 3rem;
}

.buttons button {
  border: 1px solid black;
  width: 10rem;
  height: 3rem;
  border-radius: 0.7rem;
  font-family: "poppins-regular";
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.howMany {
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.howMany button {
  border: none;
  width: 1.3rem;
  height: 3rem;
  font-family: "poppins-regular";
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.howMany span {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins-regular";
}

.socialMediaAndProductInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productInfo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.productInfo p {
  font-family: "poppins-regular";
  color: gray;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.socialMedia p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: "poppins-regular";
  color: gray;
}

.socialMedia a {
  text-decoration: none;
  font-family: "poppins-regular";
  color: gray;
}

.socialMedia a:hover {
  color: black;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.descriptionTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

.descriptionTitle h3 {
  font-family: "poppins-regular";
  font-weight: normal;
  color: #9f9f9f;
  cursor: pointer;
  font-size: 1.5rem;
}

.description .descriptionTitle .descriptionHeader{
  color: black;
  font-family: "poppins-medium";
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.paragraph p {
  font-family: "poppins-regular";
  color: #9f9f9f;
  font-size: 1rem;
  width: 70%;
}

.pictures {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
}

.pictures img {
  width: 100%;
  height: 100%;
}

.suggestTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

.suggestTitle h3 {
  font-family: "poppins-regular";
  font-weight: normal;
  cursor: pointer;
  font-size: 2.5rem;
}

.show-more-shop {
  background-color: white;
  width: 15rem;
  height: 3rem;
  border: 2px solid #b88e2f;
  font-size: 1rem;
  color: #b88e2f;
  cursor: pointer;
}

.suggest-section{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.show-more-shop:hover {
  background-color: #b88e2f;
  color: white;
}

.show-more-a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: default;
  margin-bottom: 4rem;
}


